@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-lato-sans, sans-serif);
}

h1 {
  font-size: 33px;
  font-weight: 700;
  font-family: var(--font-funnel-display);
}

.font-funnel {
  font-family: var(--font-funnel-display);
}